.App {
  font-family: Roboto;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-content: flex-start;
}

.whiteBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  background-color: #efefef;
}
.whiteBar img {
  margin-left: auto;
}
.whiteBar p {
  margin-left: 0.5em;
}

.blueBar {
  background-color: #1b3280;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.passwordContainer {
  margin: 2.2em 1em;
}

.passwordText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.passwordText p {
  margin: 0.2em 0.4em;
  font-size: 2.2em;
}
.passwordTip {
  color: gray;
  font-size: 0.7em;
}
.passwordFirstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0em 1.4em;
}

.numbersContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}
